body {
    padding: 0;
    margin: 0;

}
*{
    box-sizing: border-box;
}
nav a {
  text-decoration: none; 
  color: white; 
  opacity: 0.7;
  padding: 7px;

}
nav a:hover {
    text-decoration: none; 
    color: white; 
    opacity: 1;
  }
  .about{
      position: relative;
      color: white;
      display: inline-block;    
  }
  .b{
      display: none;
      position: absolute;
      width: 200px;
    padding: 10px;
border-radius: 5px;
background-color: black;

  }
.about:hover .b{
    display: block;
    color: white;
    opacity: 1;
    
}
.corn {
    color: black;
    opacity: 0.5;
}
.corn:hover {
    color: black;
    opacity: 1;
}
.ball{
    background-color: rgb(27, 216, 191); margin-left: 33.2%; padding-top: 10px; height: 62px;
    align-self: end;
}
.ball:hover {
    background-color: rgb(100, 5, 100);
    

}
.boll{
    background-color: rgb(27, 216, 191);
width: 20%;
padding: 7px;
border-radius: 4px;
margin: auto;}

    .boll:hover {
        background-color: rgb(100, 5, 100);
        
    
    }
    .ear{
        font-size: large; padding: 15px; width:47%;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    .eir{
        font-size: large; padding: 15px; width:47%;
        border-radius: 5px;
        outline: none;
                border: none;
                margin-left:5px}
    input[type="checkbox"]{
       display: none;
        height: 25px;
        width: 25px;
        
        cursor: pointer;
    
        
    }
    .score{
        font-size: large; padding: 15px; border: none; width: 96%; outline: none; border-radius: 5px;
    }
    input[type="checkbox"] + label:before{
content: "\2714";
border-radius: 3px;
margin-right: 5px;
color: transparent;
background-color: white;



    }
    input[type="checkbox"]:checked + label:before{
background-color: white;
border-radius: 3px;
color: black;

    }
    label{
        color: white;
        font-size: large;
        margin-left:7px ;
    }
    .bell {
        background-color: rgb(27, 216, 191);
        padding: 10px;
        width: 20%;
        text-align: center;
        border-radius: 5px;
        margin-top: 5%;
        
    }
    .bell:hover {
        background-color: rgb(100, 5, 100);
        
    }
   #icon{
    background-color: white; border-radius: 2px; height: 20px; width: 20px; padding-top: 3px; padding-left: 7px;
   color: black;
}
   .pen{
    display: flex; margin: 10px;
   }
   .pen a{
    text-decoration: none; 
    color: white; 
    opacity: 0.7;
   }


   .pen a:hover{
    text-decoration: none; 
    color: white; 
    opacity: 1;
   }
   .pd {
    width: 100%; font-family: monospace;font-size: x-large;
   }
   .pd img{
    width: 100px; height: 50px; margin-left: 0; padding-left: 0;
   }
   .one{
    background-color: white; margin: 10px; 
    
   }
   .bed{
    padding-bottom: 70px; margin: auto; width: 50%;text-align: center;padding-top: 70px;
   }
   .fan{
    border-right: 1px solid  rgb(27, 216, 191); padding: 30px; padding-right: 5%; width: 50%;
   }
   .biro {
    width: 50%; padding:5%;
   }
   .book{
    background-color: rgb(93, 41, 177);padding: 40px; display: flex;
   }
   .pin{
    width: 33.33%;
   }
   .tube{
    width: 67%;padding-top: 2%; padding-left: 5%;
   }
   .hand{background-color: black;  font-family: monospace;display: flex; padding: 10%;flex-wrap:nowrap ;
}
.pure{
    color: white;font-size: x-large; list-style: none;margin-left: 5%;
}

  
   @media only screen  and (max-width:900px){
       .pin{
           width: 100%;
           text-align: center;
        margin: auto;
           
       }
       .pure{
           text-align: center;
           margin-bottom: 5%;
       }
       .tube{width: 100%; padding-left: 0;}
       .van {
           display: flex;
       }
       .pen{
        width: 100%;
        
        margin-left: 39%;
       }
       .hand{display: block;
           
       }
       .score{
           width: 100%;
       }
   
       .one{flex-direction: column;display: flex; }
    .bed{
        width: 95%;
    }
    .fan{
        width: 100%;
        border-right: none;
    }
    .book{
        flex-direction: column;
        padding: 10px;
    }
    .biro{
        width: 100%;
    }
    .ear{
        width: 100%;
        flex-direction: column;
        margin-top: 17px;
    }
    .shoe{
        display: flex;
        flex-direction: column;
    }
    .eir{
        margin-left: 0;
        width: 100%;
        flex-direction: column;
        margin-top: 17px;
    }
   }

 